{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-between mb-4">
    <div class="col-auto">
      <div class="fs-3 fw-bolder">
        TODO List
      </div>
    </div>
    <div class="col-auto">
      <a href="{% url 'todo:task-create' %}" class="btn btn-primary">
        Add Task
      </a>
    </div>
  </div>
  
  {% if task_list %}
    <table class="table">
      <tbody>
        {% for task in task_list %}
          <tr>
            <td>
              <span class="fs-5 fw-bold">{{ task.content }}</span>
              {% if task.done %}
                <span class="text-success fw-bold">Done</span>
              {% else %}
                <span class="text-danger fw-bold">Not done</span>
              {% endif %}
              
              <br>
            
              Created: {{ task.created }} 
              {% if task.deadline %}
                <span style="color: #8f1423">Deadline: {{ task.deadline }}</span>
              {% endif %}
            
              <br>
            
                <span class="text-secondary">
                  <span class="fw-bold">Tags:</span>
                    {% if task.tags.all %}
                      {% for tag in task.tags.all %}
                        {{ tag }}
                      {% endfor %}
                    {% endif %}
                </span>
            
              <br>
              
              <a href="{% url 'todo:task-update' pk=task.id %}" class="link text-decoration-none">
                Update
              </a>
              
              <a href="{% url 'todo:task-delete' pk=task.id %}" class="link text-danger text-decoration-none">
                Delete
              </a>
            
            </td>
            <td class="text-end">
              <form method="post" action="{% url 'todo:status-switcher' %}">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task.id }}">
                {% if task.done %}
                  <button class="btn btn-secondary" type="submit">Undo</button>
                {% else %}
                  <button class="btn btn-success" type="submit">Complete</button>
                {% endif %}
              </form>
            </td>
          </tr>
          
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  
{% endblock %}
